<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatum eveniet tenetur asperiores
                    blanditiis velit, sed maiores eaque obcaecati rem enim, dolores eligendi accusantium? Aperiam vero
                    est dolore ad dicta.</p>

                <div class="row">
                    <div class="col-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus modi nobis sapiente
                            veniam nam. Accusamus autem ducimus cum molestias non cumque, minus animi ea consequuntur,
                            natus accusantium eveniet atque ab?</p>
                    </div>
                    <div class="col-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus modi nobis sapiente
                            veniam nam. Accusamus autem ducimus cum molestias non cumque, minus animi ea consequuntur,
                            natus accusantium eveniet atque ab?</p>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatum eveniet tenetur asperiores
                    blanditiis velit, sed maiores eaque obcaecati rem enim, dolores eligendi accusantium? Aperiam vero
                    est dolore ad dicta.</p>
            </div>
        </div>
    </div>

    <section id="ourteam" class="section-padding">

        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h2>Our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="single-team-member">
                        <img src="img/team/t1.jpg" alt="">
                        <h2>Mr. Jone Due</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vero commodi animi, tempore
                            repellat ullam dolor sunt voluptates autem ipsam nobis harum at dolores odio quasi alias
                            ipsa amet similique.</p>
                    </div>

                </div>
                <div class="col-3">
                    <div class="single-team-member">
                        <img src="img/team/t1.jpg" alt="">
                        <h2>Mr. Jone Due</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vero commodi animi, tempore
                            repellat ullam dolor sunt voluptates autem ipsam nobis harum at dolores odio quasi alias
                            ipsa amet similique.</p>
                    </div>

                </div>
                <div class="col-3">

                    <div class="single-team-member">
                        <img src="img/team/t1.jpg" alt="">
                        <h2>Mr. Jone Due</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vero commodi animi, tempore
                            repellat ullam dolor sunt voluptates autem ipsam nobis harum at dolores odio quasi alias
                            ipsa amet similique.</p>
                    </div>
                </div>
                <div class="col-3">

                    <div class="single-team-member">
                        <img src="img/team/t1.jpg" alt="">
                        <h2>Mr. Jone Due</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vero commodi animi, tempore
                            repellat ullam dolor sunt voluptates autem ipsam nobis harum at dolores odio quasi alias
                            ipsa amet similique.</p>
                    </div>
                </div>
            </div>

        </div>

    </section>

</body>

</html>