
*{
    box-sizing: border-box;
   
}

.container{
    width: 1170px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


.col{
    background-color: red;
    padding: 20px;
   
    float: left;
   
}
.blue{
    background: blue;
    width: 75%;
}
.orange{
    background: orange;
    width: 25%;
}